body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:75px;
  width:300px;
  height:535px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:75px;
  width:300px;
  height:30px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:84px;
  width:27px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:81px;
  width:18px;
  height:18px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:84px;
  width:13px;
  height:12px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:82px;
  width:15px;
  height:15px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:82px;
  width:20px;
  height:20px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:82px;
  width:16px;
  height:16px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:153px;
  width:300px;
  height:410px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:105px;
  width:300px;
  height:45px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:118px;
  width:18px;
  height:18px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#1E1E1E;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:121px;
  width:95px;
  height:13px;
  font-size:10px;
  color:#1E1E1E;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:170px;
  width:35px;
  height:35px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:215px;
  width:35px;
  height:35px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:181px;
  width:40px;
  height:17px;
  font-size:10px;
  text-align:center;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:224px;
  width:40px;
  height:17px;
  font-size:10px;
  text-align:center;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:260px;
  width:32px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:280px;
  width:35px;
  height:35px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:289px;
  width:95px;
  height:17px;
  font-size:10px;
  text-align:center;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:260px;
  width:253px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:266px;
  width:0px;
  height:0px;
}
#u1237_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:564px;
  width:300px;
  height:45px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:573px;
  width:215px;
  height:27px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:579px;
  width:15px;
  height:15px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:573px;
  width:40px;
  height:27px;
  font-size:12px;
  color:#FFFFFF;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
