body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:75px;
  width:300px;
  height:534px;
}
#u3891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:75px;
  width:300px;
  height:30px;
}
#u3892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:84px;
  width:27px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u3893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:81px;
  width:18px;
  height:18px;
}
#u3894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:84px;
  width:13px;
  height:12px;
}
#u3895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:82px;
  width:15px;
  height:15px;
}
#u3896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:82px;
  width:20px;
  height:20px;
}
#u3897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:82px;
  width:16px;
  height:16px;
}
#u3898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:105px;
  width:300px;
  height:40px;
}
#u3899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:116px;
  width:18px;
  height:18px;
}
#u3900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900_ann {
  border-width:0px;
  position:absolute;
  left:241px;
  top:112px;
  width:1px;
  height:1px;
}
#u3901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:118px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u3901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:147px;
  width:300px;
  height:125px;
}
#u3902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:157px;
  width:53px;
  height:13px;
  font-size:11px;
}
#u3903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:186px;
  width:80px;
  height:70px;
}
#u3904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:199px;
  width:20px;
  height:20px;
}
#u3905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#AEAEAE;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:234px;
  width:55px;
  height:11px;
  font-size:9px;
  color:#AEAEAE;
}
#u3906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:275px;
  width:300px;
  height:165px;
}
#u3907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:285px;
  width:53px;
  height:13px;
  font-size:11px;
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:312px;
  width:230px;
  height:26px;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:226px;
  word-wrap:break-word;
}
#u3910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:318px;
  width:50px;
  height:13px;
  font-size:10px;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D7D7D7;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:319px;
  width:23px;
  height:11px;
  font-size:9px;
  color:#D7D7D7;
}
#u3911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u3912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:356px;
  width:75px;
  height:26px;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u3913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:362px;
  width:39px;
  height:13px;
  font-size:10px;
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#BCBCBC;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:364px;
  width:31px;
  height:11px;
  font-size:9px;
  color:#BCBCBC;
}
#u3914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:356px;
  width:75px;
  height:26px;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u3916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:362px;
  width:7px;
  height:13px;
  font-size:10px;
  color:#6B6B6B;
}
#u3916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u3917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#BCBCBC;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:364px;
  width:31px;
  height:11px;
  font-size:9px;
  color:#BCBCBC;
}
#u3917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:392px;
  width:75px;
  height:26px;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u3919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#BCBCBC;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:400px;
  width:31px;
  height:11px;
  font-size:9px;
  color:#BCBCBC;
}
#u3919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:392px;
  width:75px;
  height:26px;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u3920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u3921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:398px;
  width:7px;
  height:13px;
  font-size:10px;
  color:#6B6B6B;
}
#u3921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u3922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#BCBCBC;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:400px;
  width:31px;
  height:11px;
  font-size:9px;
  color:#BCBCBC;
}
#u3922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:443px;
  width:300px;
  height:50px;
}
#u3923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:458px;
  width:20px;
  height:20px;
}
#u3924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:462px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#6B6B6B;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:461px;
  width:16px;
  height:16px;
}
#u3926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:530px;
  width:230px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u3927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:226px;
  word-wrap:break-word;
}
#u3928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:400px;
  width:39px;
  height:13px;
  font-size:10px;
}
#u3928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
